vendor/
.idea/
tmp/
static/html/games/*
!static/html/games/.gitkeep
static/assets/img/sample/*
!static/assets/img/sample/.gitkeep
ghost-catch-api

# OS X Files
.DS_Store
Thumbs.db
*.swp
*.swo
*.lnk
*~


# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/